<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<MSTest>
		<Parallelize>
			<Workers>2</Workers>
			<Scope>MethodLevel</Scope>
		</Parallelize>
	</MSTest>
	//<TestRunParameters>
	//	<Parameter name="webAppUrl" value="http://localhost" />
	//	<Parameter name="docsUrl" value="https://learn.microsoft.com" />
	//</TestRunParameters>
</RunSettings>